/* Root Variable */
:root {
  /* Primary Color */
  --primary-color-dark-900: #0a196f;
  --primary-color-dark-800: #102587;
  --primary-color-dark-700: #1a37a7;
  --primary-color-dark-600: #264bc8;
  --primary-color-default: #3563e9;
  --primary-color-light-400: #658df1;
  --primary-color-light-300: #85a8f8;
  --primary-color-light-200: #aec8fc;
  --primary-color-light-100: #d6e4fd;
  --primary-color-white: #ffffff;
  /* Success Color */
  --success-color-dark-900: #3b6506;
  --success-color-dark-800: #4c7a0b;
  --success-color-dark-700: #659711;
  --success-color-dark-600: #7fb519;
  --success-color-default: #9cd323;
  --success-color-light-400: #bce455;
  --success-color-light-300: #d3f178;
  --success-color-light-200: #e8faa6;
  --success-color-light-100: #f5fcd2;
  /* Error Color */
  --error-color-dark-900: #7a0619;
  --error-color-dark-800: #930b16;
  --error-color-dark-700: #b71112;
  --error-color-dark-600: #db2719;
  --error-color-default: #ff4423;
  --error-color-light-400: #ff7f59;
  --error-color-light-300: #ffa37a;
  --error-color-light-200: #ffc8a6;
  --error-color-light-100: #ffe7d3;
  /* Warning Color */
  --warning-color-dark-900: #7a4d0b;
  --warning-color-dark-800: #936312;
  --warning-color-dark-700: #b7821d;
  --warning-color-dark-600: #dba32a;
  --warning-color-default: #ffc73a;
  --warning-color-light-400: #ffd96b;
  --warning-color-light-300: #ffe488;
  --warning-color-light-200: #ffefb0;
  --warning-color-light-100: #fff8d7;
  /* Information Color */
  --information-color-dark-900: #102e7a;
  --information-color-dark-800: #1a4393;
  --information-color-dark-700: #2a60b7;
  --information-color-dark-600: #3d81db;
  --information-color-default: #54a6ff;
  --information-color-light-400: #7ec2ff;
  --information-color-light-300: #98d3ff;
  --information-color-light-200: #bae5ff;
  --information-color-light-100: #dcf3ff;
  /* Secondinary Color */
  --secondinary-color-dark-900: #040815;
  --secondinary-color-dark-800: #080c19;
  --secondinary-color-dark-700: #0d121f;
  --secondinary-color-dark-600: #131825;
  --secondinary-color-default: #1a202c;
  --secondinary-color-light-400: #596780;
  --secondinary-color-light-300: #90a3bf;
  --secondinary-color-light-200: #c3d4e9;
  --secondinary-color-light-100: #e0e9f4;
  /* Other COlor */
  --reviewer-color: #3d5278;
  --primary-input-color: #f6f7f9;
  --payment-method-color: #f6f7f9;
  --search-box-border-color: #c3d4e966;
  --body-color: #f6f7f9;
  --loading-grey-color: #ededed;
  /* Border Radius */
  --radius-4: 4px;
  --radius-10: 10px;
  /* Fonts */
  --font-plus-jakarta-sans: "Plus Jakarta Sans";
}
/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--secondinary-color-default);
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--body-color);
}
button {
  border: none;
}
hr {
  /* margin: 2.4rem 0 1.2rem 0; */
  width: 100%;
  border: 1px solid #c3d4e966;
}
fieldset {
  border: 0;
}
ul,
li {
  list-style: none;
}
/* Border Radius */
.radius-4 {
  border-radius: 4px;
}
/* Typography */
/* Font Size */
.text-xs {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.text-sm {
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.text-base {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.text-lg {
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.text-2lg {
  font-size: 2rem;
  line-height: 3rem;
}
.text-xl {
  font-size: 2.4rem;
  line-height: 3.6rem;
}
.text-2xl {
  font-size: 3.2rem;
  line-height: 4.8rem;
}
.text-3xl {
  font-size: 3.6rem;
  line-height: 5.4rem;
}
.text-4xl {
  font-size: 4rem;
  line-height: 6rem;
}
.text-5xl {
  font-size: 7.2rem;
  line-height: 10.8rem;
}
/* Font Weight */
.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}
/* Font Color */
.text-sec-500 {
  color: var(--secondinary-color-default);
}
.text-sec-300 {
  color: var(--secondinary-color-light-300);
}
/* Text Overflow */
.text-overflow-1 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.text-overflow-2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.text-overflow-3 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
/* Title */
.title_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.titel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.4rem;
}
.titel__text {
  color: var(--secondinary-color-default);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
}
.titel__desc {
  color: var(--secondinary-color-light-300);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.9rem;
}
@media screen and (min-width: 768px) {
  .titel__text {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .titel__desc {
    color: var(--secondinary-color-light-300);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
/* Icons */
.icon {
  width: 14px;
  height: 14px;
}
@media screen and (min-width: 768px) {
  .icon {
    width: 24px;
    height: 24px;
  }
}
.icon-12 {
  width: 12px;
  height: 12px;
}
.icon-14 {
  width: 14px;
  height: 14px;
}
.icon-16 {
  width: 16px;
  height: 16px;
}
.icon-18 {
  width: 18px;
  height: 18px;
}
.icon--24 {
  width: 24px;
  height: 24px;
}
/* Like */
.like {
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 768px) {
  .like {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
/* Buttons */
.btn {
  border-radius: var(--radius-4);
  text-align: center;
  color: var(--primary-color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 0.8rem;
  cursor: pointer;
}
.btn:active {
  background-color: var(--primary-color-dark-700);
}
.btn:disabled {
  opacity: 0.4;
}
/* Primary Buttons */
.btn--primary {
  width: 100px;
  height: 36px;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  background-color: var(--primary-color-default);
}
/* Secondary Buttons */
.btn--secondary {
  width: 100px;
  height: 36px;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  background-color: var(--information-color-default);
}
.btn--primary-icon-only {
  width: 60px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  /* Primary Buttons */
  .btn--primary {
    width: 116px;
    height: 44px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  /* Secondary Buttons */
  .btn--secondary {
    width: 116px;
    height: 44px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
/* Around Buttons */
.btn--around {
  display: none;
  position: relative;
  border: 0.1rem solid var(--search-box-border-color);
  border-radius: 50%;
  min-width: 44px;
  min-height: 44px;
  background-color: transparent;
}
.btn--around:hover {
  background-color: var(--secondinary-color-light-100);
}
@media screen and (min-width: 768px) {
  .btn--around {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* Notification Alert */
.notification-alert {
  position: absolute;
  top: 0;
  right: 0.2rem;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background-color: var(--error-color-default);
}
.btn--around:hover .notification-alert {
  animation-name: notification-alert;
  animation-delay: 200ms;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}
@keyframes notification-alert {
  from {
    transform: scale(1.3);
  }
  to {
    transform: scale(1);
  }
}
/* Redio Btn */
.redio-btn-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.redio-btn__group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.redio-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 0.15rem solid var(--secondinary-color-light-300);
  background: var(--primary-color-white);
}
.redio-btn:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  position: absolute;
}
.redio-btn:checked {
  border: 0;
  transition: 0.25s ease;
}
.redio-btn + .redio-btn__label {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  display: inline-block;
  cursor: pointer;
  margin-left: 0.8rem;
}
.redio-btn:after {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  opacity: 1;
  transform: scale(0.5);
  transition: 0.25s ease;
}
.redio-btn:not(:checked):after {
  opacity: 0;
}
/* Primary Redio Btn */
.redio-btn--primary:checked {
  background: #3563e94d;
}
.redio-btn--primary:after {
  background: var(--primary-color-default);
}
/* Secondary Redio Btn */
.redio-btn--secondary:checked {
  background: #5caffc4d;
}
.redio-btn--secondary:after {
  background: var(--information-color-default);
}
/* Input */
.input__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(auto, 1fr);
  row-gap: 2rem;
}
.input__container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.input__label {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.input {
  border: 0;
  width: 100%;
  height: 56px;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  border-radius: var(--radius-10);
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2.4rem;
}
.input:focus {
  outline: 0;
}
.input::-webkit-input-placeholder {
  color: var(--secondinary-color-light-300);
}
.input:-moz-placeholder {
  color: var(--secondinary-color-light-300);
}
.input:-ms-input-placeholder {
  color: var(--secondinary-color-light-300);
}
/* Primary Input */
.input--primary {
  background-color: var(--primary-input-color);
}
/* Secondary Input */
.input--secondary {
  background-color: var(--primary-color-white);
}
/* Input Button Inside  */
.input--btn-inside-wrapper {
  position: relative;
  width: 100%;
  background: transparent;
}
.input--btn-inside {
  padding-right: 27%;
  padding-left: 5%;
  height: 40px;
}
.input--btn-inside-btn {
  position: absolute;
  right: 3%;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 25%;
  background: transparent;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.input--btn-inside-btn:active,
.input--btn-inside-btn:focus {
  color: var(--information-color-default);
}
/* Input Datalist */
.input-datalist__container {
  position: relative;
  min-width: 295px;
}
.datalist__options {
  position: absolute;
  border: 1px solid var(--secondinary-color-light-300);
  border-radius: var(--radius-10);
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
  max-height: 20rem;
  background-color: var(--primary-input-color);
  overflow-x: hidden;
  z-index: 999;
}
.datalist__option {
  margin-top: 5px;
  padding: 10px 15px;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}
.datalist__option:hover,
.active {
  border-radius: var(--radius-10);
  background-color: #c3d4e966;
}
.input--datalist {
  padding-right: 15%;
}
/* Responsive Input */
@media screen and (min-width: 640px) {
  /* Input */
  .input__container {
    gap: 1.6rem;
  }
  .input {
    padding-right: 3.2rem;
    padding-left: 3.2rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
  }
  /* Input Button Inside  */
  .input--btn-inside {
    padding-right: 27%;
    padding-left: 5%;
    height: 56px;
  }
  .input--btn-inside-btn {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}
/* Rotating Arrow */
.rotating-arrow {
  position: absolute;
  right: 5%;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.rotating-arrow__icon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  transition: 0.2s ease;
}
.rotating-arrow__radio {
  display: none;
}
.rotating-arrow__radio:checked {
  display: block;
}
.rotating-arrow.rotating-arrow__active .rotating-arrow__icon {
  transform: rotate(180deg);
}
/* Form */
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.4rem;
}
.form__step {
  width: 30%;
  display: flex;
  justify-content: end;
}
@media screen and (min-width: 640px) {
  .input__wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(auto, 0.5fr);
    column-gap: 3.2rem;
  }
  .form__step {
    align-self: flex-end;
  }
}
/* Rating */
.rating {
  width: 104px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
}
.rating__star-wrapper {
  width: 76px;
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.4rem;
}
.rating__review {
  text-align: center;
  color: var(--reviewer-color);
}
@media screen and (min-width: 768px) {
  .rating {
    width: 220px;
    height: 24px;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
  }
  .rating__star-wrapper {
    width: 108px;
    height: 20px;
    align-items: center;
    gap: 0.2rem;
  }
  .icon--rating {
    width: 20px;
    height: 20px;
  }
  .rating__review {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
/* Card Start */
.card {
  border-radius: var(--radius-10);
  padding: 1.6rem;
  width: 327px;
  height: 240px;
  background-color: var(--primary-color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.card--suv .card__img img {
  margin-right: 0;
  width: 160px;
  height: 64px;
}
/* Card Header */
.card__header {
  margin-bottom: 1.2rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
/* Card Body */
.card__body {
  margin-bottom: 4.8rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card__img {
  position: relative;
  width: 221px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.card__img img {
  margin-right: 3rem;
  margin-left: 1.5rem;
  width: 100%;
  height: 70px;
}
.card__img-shadow {
  width: 221px;
  height: 44px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  position: absolute;
  top: 40%;
}
.card__summary-wrapper {
  width: 70px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;
}
.card__summary {
  display: flex;
  align-items: row;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.card__summary-text {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--secondinary-color-light-300);
}
/* Card Footer */
.card__footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__price {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
}
.card__price-cal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}
.card__price-discount {
  text-decoration: line-through;
}
@media screen and (max-width: 768px) {
  .card--secondary {
    width: 240px;
    height: 286px;
  }
  /* Card Header */
  .card--secondary .card__header {
    margin-bottom: 3.2rem;
  }
  .card--secondary .card__body {
    margin-bottom: 2.8rem;
    flex-direction: column;
    justify-content: center;
    gap: 4.4rem;
  }
  .card--secondary .card__img {
    margin: 0;
    width: 100%;
    justify-content: center;
  }
  .card--secondary .card__img img {
    margin: 0;
    width: 180px;
    height: 56px;
  }
  .card--secondary .card__summary-wrapper {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .card--secondary .like {
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 768px) {
  /* card */
  .card {
    padding: 2.4rem;
    width: 304px;
    height: 388px;
  }
  .card--suv .card__img img {
    width: 248px;
    height: 100px;
  }
  /* Card Header */
  .card__header {
    margin-bottom: 5rem;
    width: 100%;
  }
  /* Card Body */
  .card__body {
    margin-bottom: 2.4rem;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
  }
  .card__img {
    margin: 0;
    width: 100%;
    height: 100px;
    justify-content: center;
  }
  .card--secondary .card__img img {
    margin: 0;
    width: 100%;
    height: 72px;
    justify-content: center;
  }
  .card__img img {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .card__img-shadow {
    width: 100%;
    height: 68px;
  }
  .card__summary-wrapper {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .card__summary {
    gap: 0.6rem;
    cursor: pointer;
  }
  .card__summary-text {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  /* Card Footer */
  .card__footer {
    margin: 0;
  }
  .card__price-cal {
    font-size: 2rem;
    gap: 0.8rem;
  }
  .card__price-cal span {
    font-size: 1.4rem;
  }
  .card__price-discount {
    font-size: 1.4rem;
  }
}
/* Rental Summary */
.rental-summary {
  padding: 1.6rem;
  width: 327px;
  height: 424px;
  border-radius: var(--radius-10);
  background-color: var(--primary-color-white);
  overflow: hidden;
  display: grid;
  grid-template-rows: 15% 70% 15%;
}
/* Rental Summary Header */
.rental-summary__header {
  width: 100%;
}
/* Rental Summary Body*/
.rental-summary__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.rental-summary__overview {
  margin: 2.4rem 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.6rem;
}
.rental-summary__img {
  border-radius: 8px;
  width: 40%;
  height: 100%;
  background-image: url(../assets/images/rental-summary-bg.png);
  background-color: var(--primary-color-default);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  overflow: hidden;
}
.rental-summary__img img {
  width: 102px;
  height: 32px;
}
.rental-summary__desc {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: center;
  gap: 1.2rem;
}
.rental-summary__payment-info {
  margin: 1.6rem 0 2.4rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.rental-summary__payment-total {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* Rental Summary Footer*/
.rental-summary__footer {
  margin-top: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  /* Rental Summary */
  .rental-summary {
    padding: 2.4rem;
    width: 492px;
    height: 560px;
  }
  /* Rental Summary Header */
  .rental-summary__car-name {
    font-size: 3.2rem;
  }
  .rental-summary__overview {
    margin: 3.2rem 0;
    width: 100%;
    height: 108px;
  }
  .rental-summary__img {
    width: 30%;
  }
  .rental-summary__img img {
    width: 116px;
    height: 36px;
  }
  .rental-summary__desc {
    width: 70%;
    gap: 0.8rem;
  }
  .rental-summary__payment-total-text {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  /* Rental Summary Footer*/
  .rental-summary__total-price {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4rem;
  }
}
/* Billing Info */
.billing-info {
  width: 327px;
  height: 516px;
}
@media screen and (min-width: 768px) {
  .billing-info {
    width: 852px;
    height: 336px;
  }
}
/* Rental Info */
.rental-info {
  width: 327px;
  height: 818px;
}
@media screen and (min-width: 768px) {
  .rental-info {
    width: 852px;
    height: 664px;
  }
}
/* Payment Method */
.payment-method {
  border-radius: var(--radius-10);
  padding: 1.6rem;
  width: 327px;
  min-height: 300px;
  background-color: var(--primary-color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2.4rem;
}
.form--payment-method {
  gap: 2rem;
}
.payment-method__container {
  border-radius: var(--radius-10);
  padding: 1.6rem;
  width: 100%;
  min-height: 52px;
  background-color: var(--payment-method-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.payment-method__select {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input--payment-method-wrapper {
  display: none;
  background-color: transparent;
}
.input--payment-method-wrapper.input-active {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(auto, 1fr);
  row-gap: 2rem;
}
@media screen and (min-width: 640px) {
  .payment-method {
    width: 852px;
  }
  .input--payment-method-wrapper.input-active {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(auto, 0.5fr);
    column-gap: 3.2rem;
  }
}
/* Search Box */
.search-box {
  border-radius: var(--radius-10);
  position: relative;
  width: 100%;
  height: 48px;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}
.input--search-box {
  border: 0.1rem solid var(--search-box-border-color);
  padding-right: 1rem;
  padding-left: 5.6rem;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
  background-color: transparent;
}
.icon--search-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2.4rem;
  margin: auto;
  background: transparent;
  cursor: pointer;
}
.input--search-box:focus::-webkit-input-placeholder {
  color: transparent;
}
.input--search-box:focus::-moz-placeholder {
  color: transparent;
}
/* Button Filter */
.btn--filter {
  border: 0.1rem solid var(--search-box-border-color);
  border-radius: var(--radius-10);
  min-width: 48px;
  min-height: 48px;
  background-color: transparent;
}
.btn--filter:active {
  background-color: transparent;
}
.icon--search-box:hover,
.btn--filter:hover .icon {
  transition: all 100ms ease-out;
  transform: scale(1.2);
}
@media screen and (min-width: 640px) {
  .search-box {
    border: 0.1rem solid var(--search-box-border-color);
    border-radius: 7rem;
    max-width: 140px;
    height: 44px;
  }
  .input--search-box {
    border: none;
    padding-left: 6.4rem;
  }
  .icon--search-box {
    transition: all 200ms ease-out;
    left: 1rem;
  }
  /* Button Filter */
  .btn--filter {
    border: none;
  }
}
@media screen and (min-width: 768px) {
  .search-box {
    max-width: 492px;
  }
  .icon--search-box {
    left: 2.2rem;
    transition: all 200ms ease-in;
  }
}
/* Toggler */
/* .nav__toggler {
  width: 24px;
  height: 24px;
}
.bar {
  border-radius: 1rem;
  margin: 5px 0;
  width: 1.8rem;
  height: 0.2rem;
  background-color: var(--secondinary-color-light-300);
  transition: all 0.2s ease-out;
}
.nav.nav__expanded .bar-one {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.nav.nav__expanded .bar-two {
  opacity: 0;
  transform: translateX(-20px);
}
.nav.nav__expanded .bar-three {
  transform: rotate(45deg) translate(-5px, -5px);
} */

/* Block Element Start */
.block {
  padding: 3.2rem 2.4rem;
}
@media screen and (min-width: 768px) {
  .block {
    padding: 3.2rem 6.4rem;
  }
}
/* Block Element End */
/* Container Start */
.container {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}
/* Container End */
/* Section Title Start */
.section__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section__title-text {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.1rem;
  color: var(--secondinary-color-light-300);
}
.section__title-link {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--primary-color-default);
  text-decoration: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .section__title-text,
  .section__title-link {
    font-size: 1.6rem;
  }
}
/* Section Title End */
/* Header Start*/
.main-header{
  width: 100%;
  background-color: var(--primary-color-white);
}
.main-header__container {
  padding: 3.2rem 2.4rem;
  width: 100%;
  height: 288px;
  display: grid;
  grid-template-areas:
    "main-header__logo main-header__right"
    "main-header__left main-header__left";
  grid-template-columns: 1fr auto;
  grid-template-rows: 28px 48px;
  grid-row-gap: 3.2rem;
}
.main-header__logo {
  width: 108px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area: main-header__logo;
}
.main-header__right {
  max-width: 236px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  grid-area: main-header__right;
}
.main-header__profile-img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.main-header__left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: main-header__left;
}
@media screen and (min-width: 640px) {
  .main-header__container {
    padding: 4rem 6rem;
    height: 124px;
    grid-template-areas: "main-header__logo main-header__left main-header__right";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 44px;
    grid-column-gap: 2rem;
  }
  .main-header__right {
    max-width: 236px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
  }
  .main-header__logo {
    width: 148px;
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .main-header__left {
    justify-content: flex-start;
  }
  .main-header__container {
    grid-column-gap: 6.4rem;
  }
}
/* Header End */
/* Car Ads Start */
.car-ads__container {
  width: 100%;
  height: auto;
}
.car-ads {
  position: relative;
  padding: 1.6rem 1.6rem 0.4rem 1.6rem;
  width: 327px;
  height: 232px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.6rem;
}
.car-ads--secondary {
  background-color: var(--information-color-default);
  background-image: url(/assets/images/ellipse-bg.png);
  background-repeat: no-repeat;
}
.car-ads--primary {
  background-color: var(--primary-color-default);
  background-image: url(/assets/images/rectangle-2-bg.png);
  background-repeat: no-repeat;
}
.btn--rental-car {
  width: 128px;
  height: 44px;
}
.car-ads__img {
  position: absolute;
  right: 0;
  bottom: 4px;
  left: 0;
  margin: auto;
  width: auto;
  height: auto;
}
.slideshow-container {
  position: relative;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slides {
  width: 100%;
  display: none;
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.prev,
.next {
  position: absolute;
  border-radius: 50%;
  top: 70%;
  width: auto;
  padding: 15px 24px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  user-select: none;
  cursor: pointer;
}
.prev {
  left: 5%;
}
.next {
  right: 5%;
}
.prev:hover,
.next:hover {
  background-color: var(--primary-color-light-100);
}
.slider-dot {
  position: absolute;
  right: 0;
  bottom: 10%;
  left: 0;
  margin: auto;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot-active,
.dot:hover {
  background-color: #717171;
}
@media screen and (max-width: 640px) {
  .car-ads__container {
    position: relative;
    margin: 0;
    width: 100%;
    height: 116px;
  }
  .slideshow-container {
    position: absolute;
    top: -130px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 327px;
    height: auto;
  }
  .prev,
  .next {
    top: 70%;
    padding: 10px 15px;
    font-size: 1.4rem;
  }
  .dot {
    height: 10px;
    width: 10px;
  }
}
@media screen and (min-width: 640px) {
  .car-ads__container {
    margin-top: 3.2rem;
    width: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .car-ads {
    position: relative;
    padding: 1.6rem 1.6rem 0.4rem 1.6rem;
    width: 640px;
    height: 360px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.6rem;
  }
  .btn--rental-car {
    width: 120px;
    height: 44px;
  }
  .car-ads--secondary {
    background-image: url(/assets/images/ellipse-2-bg.png);
  }
  .car-ads__img {
    width: 406px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .car-ads__img img {
    width: 406px;
    height: 116px;
  }
}
@media screen and (min-width: 1440px) {
  .car-ads__container {
    padding: 0 6.4rem;
    width: 100%;
    height: auto;
  }
  .slideshow-container {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 3.2rem;
  }
  .car-ads {
    position: relative;
    padding: 1.6rem 1.6rem 0.4rem 1.6rem;
    max-width: 640px;
    height: 360px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.6rem;
  }

  .slides {
    display: block !important;
  }
  .slider-dot {
    display: none;
  }
  .prev,
  .next {
    display: none;
  }
}
.title--car-ads {
  gap: 1.2rem;
}
.titel__text--car-ads {
  width: 240px;
  height: 20px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--primary-color-white);
}
.titel__desc--car-ads {
  width: 216px;
  height: 38px;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.9rem;
  color: var(--primary-color-white);
}
@media screen and (min-width: 768px) {
  .titel__text--car-ads {
    width: 272px;
    height: 96px;
    font-size: 3.2rem;
    line-height: 4.8rem;
  }
  .titel__desc--car-ads {
    width: 284px;
    height: 48px;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
/* Car Ads End */
/* Custom Select Start */
.custom-select {
  position: relative;
  width: 100%;
  height: 16px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 0.4rem;
}
.custom-select select {
  display: none;
}
.select-selected {
  background-color: transparent;
}
.icon--delivery-input {
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; */
  width: 12px;
  height: 12px;
}
.select-items div,
.select-selected {
  width: auto;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--secondinary-color-light-300);
  cursor: pointer;
  user-select: none;
}
.select-items div {
  margin: 0.5rem 0;
  padding: 0.3rem 0.4rem;
  height: 20px;
}
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  margin-top: 1rem;
  border: 1px solid var(--search-box-border-color);
  border-radius: 0.5rem;
  padding: 0 1rem;
  width: 120px;
  background-color: var(--primary-color-white);
}
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  border-radius: 0.2rem;
  background-color: var(--body-color);
}
@media screen and (min-width: 640px) {
  .custom-select {
    gap: 0.8rem;
  }
  .select-items div,
  .select-selected {
    font-weight: 500;
  }
}
/* Custom Select End */
/* Delivery Start */
.delivery {
  position: relative;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}
.pickup,
.dropoff {
  border-radius: 1rem;
  padding: 1.6rem;
  min-width: 327px;
  min-height: 120px;
  background-color: var(--primary-color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.4rem;
}
.delivery__input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.delivery__input > :not(:last-child) {
  border-right: 0.1rem solid var(--search-box-border-color);
}
.delivery__input-locations,
.delivery__input-date,
.delivery__input-time {
  margin-right: 2rem;
  width: 96px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.8rem;
}
.delivery__input-date {
  width: 107px;
}
.delivery__input-time {
  margin: 0;
  width: 52px;
}
.delivery__input-label {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--secondinary-color-default);
}
.icon--delivery-input {
  width: 1.2rem;
  height: 1.2rem;
}
.btn--delivery {
  position: absolute;
  border-radius: 1rem;
  box-shadow: 15px 15px 50px 0px rgba(16, 50, 147, 0.32);
}
@media screen and (min-width: 640px) {
  .pickup,
  .dropoff {
    padding: 2.4rem 4.8rem;
    width: 582px;
    height: 136px;
  }
  .btn--delivery {
    width: 60px;
    height: 60px;
  }
  .btn--delivery {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .delivery__input-locations,
  .delivery__input-date,
  .delivery__input-time {
    margin-right: 2.4rem;
    width: 150px;
    height: 48px;
    gap: 1.6rem;
  }
  .delivery__input-date {
    width: 158px;
  }
  .delivery__input-time {
    margin: 0;
    width: 130px;
  }
  .icon--delivery-input {
    width: 1.4rem;
    height: 1.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .delivery {
    padding-bottom: 4.2rem;
    flex-wrap: nowrap;
  }
  .pickup,
  .dropoff {
    width: 582px;
    height: 136px;
  }
  .delivery {
    justify-content: space-between;
    gap: 3.2rem;
  }
}
/* Delivery End */
/* Popular Car Start */
.popular__container {
  padding-top: 0;
  padding-bottom: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.popular {
  position: relative;
  width: 100%;
}
.popular__shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 92px;
  height: 100%;
  background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.popular__car {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.9rem;
  overflow-x: scroll;
}
.popular__car::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 640px) {
  .popular__container {
    padding-right: 0;
  }
  .popular__container .section__title {
    padding-right: 2.4rem;
  }
}
@media screen and (min-width: 640px) {
  .popular__container {
    gap: 3rem;
  }
  .popular__shadow {
    display: none;
  }
  .popular__car {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 3.2rem;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 1280px) {
  .popular__container {
    padding-bottom: 4.2rem;
  }
  .popular__car {
    justify-content: space-between;
  }
}
/* Popular Car End */
/* Recomendation Car Start */
.rec-car__container {
  padding-top: 0;
  padding-bottom: 4.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.rec-car {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}
.btn--more-car {
  width: 120px;
  height: 36px;
  font-size: 1.2rem;
}
.more-car {
  position: relative;
  margin-top: 4.8rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.mor-car__counter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7rem;
  color: var(--secondinary-color-light-300);
  text-decoration: none;
  margin: auto;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .rec-car__container {
    padding-bottom: 6.4rem;
  }
  .more-car {
    margin-top: 6.4rem;
  }
  .btn--more-car {
    width: 156px;
    height: 44px;
    font-size: 1.6rem;
  }
  .mor-car__counter {
    font-weight: 500;
  }
}
/* Recomendation Car End */
/* Footer Start */
.main-footer {
  width: 100%;
}
.main-footer__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4.8rem;
}
.main-footer__container a:hover {
  color: var(--secondinary-color-light-400);
}
.main-footer__container hr {
  display: none;
}
.main-footer__into {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.6rem;
}
.main-footer__logo {
  width: 108px;
  height: 28px;
}
.main-footer__logo-dec {
  width: 216px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: var(--secondinary-color-light-300);
}
.main-footer__items {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.8rem 6.5rem;
}
.main-footer__item {
  width: 142px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.9rem;
}
.main-footer__item-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--secondinary-color-default);
}
.main-footer__item li:not(:first-child) {
  margin-top: 1.6rem;
}
.main-footer__item nav a {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  display: block;
  color: var(--secondinary-color-light-300);
  text-decoration: none;
}
.main-footer__links {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}
.main-footer__links a {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--secondinary-color-default);
  text-decoration: none;
  cursor: pointer;
}
.main-footer__rules {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .main-footer {
    background-color: var(--primary-color-white);
  }
  .main-footer__container {
    justify-content: space-between;
    gap: 3.6rem;
  }
  .main-footer__container hr {
    display: block;
  }
  .main-footer__into {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.6rem;
  }
  .main-footer__logo {
    width: 148px;
    height: 44px;
  }
  .main-footer__logo-dec {
    width: 292px;
    font-size: 1.6rem;
  }
  .main-footer__item {
    gap: 2.4rem;
  }
  .main-footer__items {
    gap: 6rem;
  }
  .main-footer__links {
    flex-direction: row-reverse;
  }
  .main-footer__links a {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .main-footer__rules {
    width: 50%;
    justify-content: flex-end;
    gap: 6rem;
  }
}
/* Footer End */
