<!-- Delivery Start -->
<section class="delivery container block">
  <div class="pickup">
    <div class="redio-btn-wrapper">
      <fieldset id="radio1">
        <input
          type="radio"
          name="radio1"
          value="value1"
          class="redio-btn redio-btn--primary"
        />
        <label for="radio1" class="redio-btn__label">Pick - Up</label>
      </fieldset>
    </div>
    <div class="delivery__input">
      <div class="delivery__input-locations">
        <h5 class="delivery__input-label">Locations</h5>
        <div class="custom-select">
          <select>
            <option value="0">Select</option>
            <option value="1">Semarang</option>
            <option value="2">Test3</option>
            <option value="3">Test4</option>
            <option value="4">Test5</option>
          </select>
          <svg class="icon--delivery-input">
            <use xlink:href="./assets/images/icons.svg#arrow-down-dark"></use>
          </svg>
        </div>
      </div>
      <div class="delivery__input-date">
        <h5 class="delivery__input-label">Date</h5>
        <div class="custom-select">
          <select>
            <option value="0">Select</option>
            <option value="1">20 July 2022</option>
            <option value="2">Test3</option>
            <option value="3">Test4</option>
            <option value="4">Test5</option>
          </select>
          <svg class="icon--delivery-input">
            <use xlink:href="./assets/images/icons.svg#arrow-down-dark"></use>
          </svg>
        </div>
      </div>
      <div class="delivery__input-time">
        <h5 class="delivery__input-label">Time</h5>
        <div class="custom-select">
          <select>
            <option value="0">Select</option>
            <option value="1">07.00</option>
            <option value="2">Test3</option>
            <option value="3">Test4</option>
            <option value="4">Test5</option>
          </select>
          <svg class="icon--delivery-input">
            <use xlink:href="./assets/images/icons.svg#arrow-down-dark"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn--primary btn--primary-icon-only btn--delivery">
    <svg class="icon--24">
      <use xlink:href="./assets/images/icons.svg#swap-light"></use>
    </svg>
  </button>
  <div class="dropoff">
    <div class="redio-btn-wrapper">
      <fieldset id="radio1">
        <input
          type="radio"
          name="radio1"
          value="value1"
          class="redio-btn redio-btn--secondary"
        />
        <label for="radio1" class="redio-btn__label">Drop - Off</label>
      </fieldset>
    </div>
    <div class="delivery__input">
      <div class="delivery__input-locations">
        <h5 class="delivery__input-label">Locations</h5>
        <div class="custom-select">
          <select>
            <option value="0">Select</option>
            <option value="1">Semarang</option>
            <option value="2">Test3</option>
            <option value="3">Test4</option>
            <option value="4">Test5</option>
          </select>
          <svg class="icon--delivery-input">
            <use xlink:href="./assets/images/icons.svg#arrow-down-dark"></use>
          </svg>
        </div>
      </div>
      <div class="delivery__input-date">
        <h5 class="delivery__input-label">Date</h5>
        <div class="custom-select">
          <select>
            <option value="0">Select</option>
            <option value="1">21 July 2022</option>
            <option value="2">Test3</option>
            <option value="3">Test4</option>
            <option value="4">Test5</option>
          </select>
          <svg class="icon--delivery-input">
            <use xlink:href="./assets/images/icons.svg#arrow-down-dark"></use>
          </svg>
        </div>
      </div>
      <div class="delivery__input-time">
        <h5 class="delivery__input-label">Time</h5>
        <div class="custom-select">
          <select>
            <option value="0">Select</option>
            <option value="1">01.00</option>
            <option value="2">Test3</option>
            <option value="3">Test4</option>
            <option value="4">Test5</option>
          </select>
          <svg class="icon--delivery-input">
            <use xlink:href="./assets/images/icons.svg#arrow-down-dark"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Delivery End -->
