<section class="popular__container container block">
  <div class="section__title">
    <h6 class="section__title-text">Popular Car</h6>
    <a href="#" class="section__title-link">View All</a>
  </div>
  <div class="popular">
    <div class="popular__car">
      <div class="popular__car-slide">
        <div class="card card--secondary">
          <div class="card__header">
            <div class="titel">
              <h5 class="titel__text">Koenigsegg</h5>
              <h6 class="titel__desc">Sport</h6>
            </div>
            <svg class="like">
              <use xlink:href="./assets/images/icons.svg#heart"></use>
            </svg>
          </div>
          <div class="card__body">
            <div
              class="animate__animated animate__fadeInLeft animate__delay-800ms card__img"
            >
              <figure>
                <img
                  srcset="
                    /assets/images/Koenigsegg-CCGT@1x.png 1x,
                    /assets/images/Koenigsegg-CCGT@2x.png 2x,
                    /assets/images/Koenigsegg-CCGT@3x.png 3x,
                    /assets/images/Koenigsegg-CCGT@4x.png 4x
                  "
                  src="/assets/images/Koenigsegg-CCGT@1x.png"
                  alt="Koenigsegg CCGT"
                  loading="lazy"
                />
              </figure>
              <div class="card__img-shadow"></div>
            </div>
            <div class="card__summary-wrapper">
              <div class="card__summary">
                <svg class="icon">
                  <use xlink:href="./assets/images/icons.svg#gas-station"></use>
                </svg>
                <span class="card__summary-text">90L</span>
              </div>
              <div class="card__summary">
                <svg class="icon">
                  <use xlink:href="./assets/images/icons.svg#Car"></use>
                </svg>
                <span class="card__summary-text">Manual</span>
              </div>
              <div class="card__summary">
                <svg class="icon">
                  <use
                    xlink:href="./assets/images/icons.svg#profile-2user"
                  ></use>
                </svg>
                <span class="card__summary-text">2 People</span>
              </div>
            </div>
          </div>
          <div class="card__footer">
            <div class="card__price">
              <div class="card__price-cal text-base font-bold">
                $99.00/<span class="text-xs font-bold text-sec-300">day</span>
              </div>
            </div>
            <button class="btn btn--primary">Rent Now</button>
          </div>
        </div>
      </div>
      <div class="popular__car-slide">
        <div class="card card--secondary">
          <div class="card__header">
            <div class="titel">
              <h5 class="titel__text">Nissan GT - R</h5>
              <h6 class="titel__desc">Sport</h6>
            </div>
            <svg class="like">
              <use xlink:href="./assets/images/icons.svg#linear-like"></use>
            </svg>
          </div>
          <div class="card__body">
            <div
              class="animate__animated animate__fadeInLeft animate__delay-800ms card__img"
            >
              <figure>
                <img
                  srcset="
                    /assets/images/Nissan-GT-R@1x.png 1x,
                    /assets/images/Nissan-GT-R@2x.png 2x,
                    /assets/images/Nissan-GT-R@3x.png 3x,
                    /assets/images/Nissan-GT-R@4x.png 4x
                  "
                  src="/assets/images/Nissan-GT-R@1x.png"
                  alt="Nissan GT-R"
                  loading="lazy"
                />
              </figure>
              <div class="card__img-shadow"></div>
            </div>
            <div class="card__summary-wrapper">
              <div class="card__summary">
                <svg class="icon">
                  <use xlink:href="./assets/images/icons.svg#gas-station"></use>
                </svg>
                <span class="card__summary-text">80L</span>
              </div>
              <div class="card__summary">
                <svg class="icon">
                  <use xlink:href="./assets/images/icons.svg#Car"></use>
                </svg>
                <span class="card__summary-text">Manual</span>
              </div>
              <div class="card__summary">
                <svg class="icon">
                  <use
                    xlink:href="./assets/images/icons.svg#profile-2user"
                  ></use>
                </svg>
                <span class="card__summary-text">2 People</span>
              </div>
            </div>
          </div>
          <div class="card__footer">
            <div class="card__price">
              <div class="card__price-cal text-base font-bold">
                $80.00/<span class="text-xs font-bold text-sec-300">day</span>
              </div>
              <span class="card__price-discount text-xs font-bold text-sec-300"
                >$100.00</span
              >
            </div>
            <button class="btn btn--primary">Rent Now</button>
          </div>
        </div>
      </div>
      <div class="popular__car-slide">
        <div class="card card--secondary">
          <div class="card__header">
            <div class="titel">
              <h5 class="titel__text">Rolls - Royce</h5>
              <h6 class="titel__desc">Sedan</h6>
            </div>
            <svg class="like">
              <use xlink:href="./assets/images/icons.svg#heart"></use>
            </svg>
          </div>
          <div class="card__body">
            <div
              class="animate__animated animate__fadeInLeft animate__delay-800ms card__img"
            >
              <figure>
                <img
                  srcset="
                    /assets/images/Rolls-Royce-Dawn@1x.png 1x,
                    /assets/images/Rolls-Royce-Dawn@2x.png 2x,
                    /assets/images/Rolls-Royce-Dawn@3x.png 3x,
                    /assets/images/Rolls-Royce-Dawn@4x.png 4x
                  "
                  src="/assets/images/Rolls-Royce-Dawn@1x.png"
                  alt="Rolls Royce Dawn"
                  loading="lazy"
                />
              </figure>
              <div class="card__img-shadow"></div>
            </div>
            <div class="card__summary-wrapper">
              <div class="card__summary">
                <svg class="icon">
                  <use xlink:href="./assets/images/icons.svg#gas-station"></use>
                </svg>
                <span class="card__summary-text">70L</span>
              </div>
              <div class="card__summary">
                <svg class="icon">
                  <use xlink:href="./assets/images/icons.svg#Car"></use>
                </svg>
                <span class="card__summary-text">Manual</span>
              </div>
              <div class="card__summary">
                <svg class="icon">
                  <use
                    xlink:href="./assets/images/icons.svg#profile-2user"
                  ></use>
                </svg>
                <span class="card__summary-text">4 People</span>
              </div>
            </div>
          </div>
          <div class="card__footer">
            <div class="card__price">
              <div class="card__price-cal text-base font-bold">
                $96.00/<span class="text-xs font-bold text-sec-300">day</span>
              </div>
            </div>
            <button class="btn btn--primary">Rent Now</button>
          </div>
        </div>
      </div>
      <div class="popular__car-slide">
        <div class="card card--secondary">
          <div class="card__header">
            <div class="titel">
              <h5 class="titel__text">Nissan GT - R</h5>
              <h6 class="titel__desc">Sport</h6>
            </div>
            <svg class="like">
              <use xlink:href="./assets/images/icons.svg#linear-like"></use>
            </svg>
          </div>
          <div class="card__body">
            <div
              class="animate__animated animate__fadeInLeft animate__delay-800ms card__img"
            >
              <figure>
                <img
                  srcset="
                    /assets/images/Nissan-GT-R@1x.png 1x,
                    /assets/images/Nissan-GT-R@2x.png 2x,
                    /assets/images/Nissan-GT-R@3x.png 3x,
                    /assets/images/Nissan-GT-R@4x.png 4x
                  "
                  src="/assets/images/Nissan-GT-R@1x.png"
                  alt="Nissan GT-R"
                  loading="lazy"
                />
              </figure>
              <div class="card__img-shadow"></div>
            </div>
            <div class="card__summary-wrapper">
              <div class="card__summary">
                <svg class="icon">
                  <use xlink:href="./assets/images/icons.svg#gas-station"></use>
                </svg>
                <span class="card__summary-text">80L</span>
              </div>
              <div class="card__summary">
                <svg class="icon">
                  <use xlink:href="./assets/images/icons.svg#Car"></use>
                </svg>
                <span class="card__summary-text">Manual</span>
              </div>
              <div class="card__summary">
                <svg class="icon">
                  <use
                    xlink:href="./assets/images/icons.svg#profile-2user"
                  ></use>
                </svg>
                <span class="card__summary-text">2 People</span>
              </div>
            </div>
          </div>
          <div class="card__footer">
            <div class="card__price">
              <div class="card__price-cal text-base font-bold">
                $80.00/<span class="text-xs font-bold text-sec-300">day</span>
              </div>
              <span class="card__price-discount text-xs font-bold text-sec-300"
                >$100.00</span
              >
            </div>
            <button class="btn btn--primary">Rent Now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="popular__shadow"></div>
  </div>
</section>
