<section class="rec-car__container container block">
  <div class="section__title">
    <h6 class="section__title-text">Recomendation Car</h6>
  </div>
  <div class="rec-car">
    <div class="card card--suv">
      <div class="card__header">
        <div class="titel">
          <h5 class="titel__text">All New Rush</h5>
          <h6 class="titel__desc">SUV</h6>
        </div>
        <svg class="like">
          <use xlink:href="./assets/images/icons.svg#linear-like"></use>
        </svg>
      </div>
      <div class="card__body">
        <div
          class="animate__animated animate__fadeInLeft animate__delay-800ms card__img"
        >
          <figure>
            <img
              srcset="
                /assets/images/Chery-Tiggo@1x.png 1x,
                /assets/images/Chery-Tiggo@2x.png 2x,
                /assets/images/Chery-Tiggo@3x.png 3x,
                /assets/images/Chery-Tiggo@4x.png 4x
              "
              src="/assets/images/Chery-Tiggo@1x.png"
              alt="Chery Tiggo"
              loading="lazy"
            />
          </figure>
          <div class="card__img-shadow"></div>
        </div>
        <div class="card__summary-wrapper">
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#gas-station"></use>
            </svg>
            <span class="card__summary-text">70L</span>
          </div>
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#Car"></use>
            </svg>
            <span class="card__summary-text">Manual</span>
          </div>
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#profile-2user"></use>
            </svg>
            <span class="card__summary-text">6 People</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="card__price">
          <div class="card__price-cal text-base font-bold">
            $72.00/<span class="text-xs font-bold text-sec-300">day</span>
          </div>
          <span class="card__price-discount text-xs font-bold text-sec-300"
            >$80.00</span
          >
        </div>
        <button class="btn btn--primary">Rent Now</button>
      </div>
    </div>
    <div class="card card--suv">
      <div class="card__header">
        <div class="titel">
          <h5 class="titel__text">CR - V</h5>
          <h6 class="titel__desc">SUV</h6>
        </div>
        <svg class="like">
          <use xlink:href="./assets/images/icons.svg#heart"></use>
        </svg>
      </div>
      <div class="card__body">
        <div
          class="animate__animated animate__fadeInLeft animate__delay-800ms card__img"
        >
          <figure>
            <img
              srcset="
                /assets/images/Touareg-TDI@1x.png 1x,
                /assets/images/Touareg-TDI@2x.png 2x,
                /assets/images/Touareg-TDI@3x.png 3x,
                /assets/images/Touareg-TDI@4x.png 4x
              "
              src="/assets/images/Touareg-TDI@1x.png"
              alt="Touareg TDI"
              loading="lazy"
            />
          </figure>
          <div class="card__img-shadow"></div>
        </div>
        <div class="card__summary-wrapper">
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#gas-station"></use>
            </svg>
            <span class="card__summary-text">80L</span>
          </div>
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#Car"></use>
            </svg>
            <span class="card__summary-text">Manual</span>
          </div>
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#profile-2user"></use>
            </svg>
            <span class="card__summary-text">6 People</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="card__price">
          <div class="card__price-cal text-base font-bold">
            $80.00/<span class="text-xs font-bold text-sec-300">day</span>
          </div>
        </div>
        <button class="btn btn--primary">Rent Now</button>
      </div>
    </div>
    <div class="card card--suv">
      <div class="card__header">
        <div class="titel">
          <h5 class="titel__text">All New Terios</h5>
          <h6 class="titel__desc">SUV</h6>
        </div>
        <svg class="like">
          <use xlink:href="./assets/images/icons.svg#linear-like"></use>
        </svg>
      </div>
      <div class="card__body">
        <div
          class="animate__animated animate__fadeInLeft animate__delay-800ms card__img"
        >
          <figure>
            <img
              srcset="
                /assets/images/Chery-Tiggo-Navy-Blue@1x.png 1x,
                /assets/images/Chery-Tiggo-Navy-Blue@2x.png 2x,
                /assets/images/Chery-Tiggo-Navy-Blue@3x.png 3x,
                /assets/images/Chery-Tiggo-Navy-Blue@4x.png 4x
              "
              src="/assets/images/Chery-Tiggo-Navy-Blue@1x.png"
              alt="Chery Tiggo Navy Blue"
              loading="lazy"
            />
          </figure>
          <div class="card__img-shadow"></div>
        </div>
        <div class="card__summary-wrapper">
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#gas-station"></use>
            </svg>
            <span class="card__summary-text">90L</span>
          </div>
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#Car"></use>
            </svg>
            <span class="card__summary-text">Manual</span>
          </div>
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#profile-2user"></use>
            </svg>
            <span class="card__summary-text">6 People</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="card__price">
          <div class="card__price-cal text-base font-bold">
            $74.00/<span class="text-xs font-bold text-sec-300">day</span>
          </div>
        </div>
        <button class="btn btn--primary">Rent Now</button>
      </div>
    </div>
    <div class="card card--suv">
      <div class="card__header">
        <div class="titel">
          <h5 class="titel__text">CR - V</h5>
          <h6 class="titel__desc">SUV</h6>
        </div>
        <svg class="like">
          <use xlink:href="./assets/images/icons.svg#heart"></use>
        </svg>
      </div>
      <div class="card__body">
        <div
          class="animate__animated animate__fadeInLeft animate__delay-800ms card__img"
        >
          <figure>
            <img
              srcset="
                /assets/images/Touareg-TDI-Black@1x.png 1x,
                /assets/images/Touareg-TDI-Black@2x.png 2x,
                /assets/images/Touareg-TDI-Black@3x.png 3x,
                /assets/images/Touareg-TDI-Black@4x.png 4x
              "
              src="/assets/images/Touareg-TDI-Black@1x.png"
              alt="Touareg TDI Black"
              loading="lazy"
            />
          </figure>
          <div class="card__img-shadow"></div>
        </div>
        <div class="card__summary-wrapper">
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#gas-station"></use>
            </svg>
            <span class="card__summary-text">80L</span>
          </div>
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#Car"></use>
            </svg>
            <span class="card__summary-text">Manual</span>
          </div>
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#profile-2user"></use>
            </svg>
            <span class="card__summary-text">6 People</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="card__price">
          <div class="card__price-cal text-base font-bold">
            $80.00/<span class="text-xs font-bold text-sec-300">day</span>
          </div>
        </div>
        <button class="btn btn--primary">Rent Now</button>
      </div>
    </div>
    <div class="card card--suv">
      <div class="card__header">
        <div class="titel">
          <h5 class="titel__text">MG ZX Exclusice</h5>
          <h6 class="titel__desc">Hatchback</h6>
        </div>
        <svg class="like">
          <use xlink:href="./assets/images/icons.svg#heart"></use>
        </svg>
      </div>
      <div class="card__body">
        <div
          class="animate__animated animate__fadeInLeft animate__delay-800ms card__img"
        >
          <figure>
            <img
              srcset="
                /assets/images/MG-ZS-Exclusice@1x.png 1x,
                /assets/images/MG-ZS-Exclusice@2x.png 2x,
                /assets/images/MG-ZS-Exclusice@3x.png 3x,
                /assets/images/MG-ZS-Exclusice@4x.png 4x
              "
              src="/assets/images/MG-ZS-Exclusice@1X.png"
              alt="MG ZS Exclusice"
              loading="lazy"
            />
          </figure>
          <div class="card__img-shadow"></div>
        </div>
        <div class="card__summary-wrapper">
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#gas-station"></use>
            </svg>
            <span class="card__summary-text">70L</span>
          </div>
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#Car"></use>
            </svg>
            <span class="card__summary-text">Manual</span>
          </div>
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#profile-2user"></use>
            </svg>
            <span class="card__summary-text">4 People</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="card__price">
          <div class="card__price-cal text-base font-bold">
            $76.00/<span class="text-xs font-bold text-sec-300">day</span>
          </div>
          <span class="card__price-discount text-xs font-bold text-sec-300"
            >$80.00</span
          >
        </div>
        <button class="btn btn--primary">Rent Now</button>
      </div>
    </div>
    <div class="card card--suv">
      <div class="card__header">
        <div class="titel">
          <h5 class="titel__text">New MG ZS</h5>
          <h6 class="titel__desc">SUV</h6>
        </div>
        <svg class="like">
          <use xlink:href="./assets/images/icons.svg#linear-like"></use>
        </svg>
      </div>
      <div class="card__body">
        <div
          class="animate__animated animate__fadeInLeft animate__delay-800ms card__img"
        >
          <figure>
            <img
              srcset="
                /assets/images/New-MG-ZS-Exclusice@1x.png 1x,
                /assets/images/New-MG-ZS-Exclusice@2x.png 2x,
                /assets/images/New-MG-ZS-Exclusice@3x.png 3x,
                /assets/images/New-MG-ZS-Exclusice@4x.png 4x
              "
              src="/assets/images/New-MG-ZS-Exclusice@1X.png"
              alt="New MG ZS Exclusice"
              loading="lazy"
            />
          </figure>
          <div class="card__img-shadow"></div>
        </div>
        <div class="card__summary-wrapper">
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#gas-station"></use>
            </svg>
            <span class="card__summary-text">80L</span>
          </div>
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#Car"></use>
            </svg>
            <span class="card__summary-text">Manual</span>
          </div>
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#profile-2user"></use>
            </svg>
            <span class="card__summary-text">6 People</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="card__price">
          <div class="card__price-cal text-base font-bold">
            $80.00/<span class="text-xs font-bold text-sec-300">day</span>
          </div>
        </div>
        <button class="btn btn--primary">Rent Now</button>
      </div>
    </div>
    <div class="card card--suv">
      <div class="card__header">
        <div class="titel">
          <h5 class="titel__text">MG ZX Excite</h5>
          <h6 class="titel__desc">Hatchback</h6>
        </div>
        <svg class="like">
          <use xlink:href="./assets/images/icons.svg#heart"></use>
        </svg>
      </div>
      <div class="card__body">
        <div
          class="animate__animated animate__fadeInLeft animate__delay-800ms card__img"
        >
          <figure>
            <img
              srcset="
                /assets/images/MG-ZS-Exclusice@1x.png 1x,
                /assets/images/MG-ZS-Exclusice@2x.png 2x,
                /assets/images/MG-ZS-Exclusice@3x.png 3x,
                /assets/images/MG-ZS-Exclusice@4x.png 4x
              "
              src="/assets/images/MG-ZS-Exclusice@1X.png"
              alt="MG ZS Exclusice"
              loading="lazy"
            />
          </figure>
          <div class="card__img-shadow"></div>
        </div>
        <div class="card__summary-wrapper">
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#gas-station"></use>
            </svg>
            <span class="card__summary-text">70L</span>
          </div>
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#Car"></use>
            </svg>
            <span class="card__summary-text">Manual</span>
          </div>
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#profile-2user"></use>
            </svg>
            <span class="card__summary-text">4 People</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="card__price">
          <div class="card__price-cal text-base font-bold">
            $74.00/<span class="text-xs font-bold text-sec-300">day</span>
          </div>
        </div>
        <button class="btn btn--primary">Rent Now</button>
      </div>
    </div>
    <div class="card card--suv">
      <div class="card__header">
        <div class="titel">
          <h5 class="titel__text">New MG ZS</h5>
          <h6 class="titel__desc">SUV</h6>
        </div>
        <svg class="like">
          <use xlink:href="./assets/images/icons.svg#linear-like"></use>
        </svg>
      </div>
      <div class="card__body">
        <div
          class="animate__animated animate__fadeInLeft animate__delay-800ms card__img"
        >
          <figure>
            <img
              srcset="
                /assets/images/New-MG-ZS-Exclusice@1x.png 1x,
                /assets/images/New-MG-ZS-Exclusice@2x.png 2x,
                /assets/images/New-MG-ZS-Exclusice@3x.png 3x,
                /assets/images/New-MG-ZS-Exclusice@4x.png 4x
              "
              src="/assets/images/New-MG-ZS-Exclusice@1X.png"
              alt="New MG ZS Exclusice"
              loading="lazy"
            />
          </figure>
          <div class="card__img-shadow"></div>
        </div>
        <div class="card__summary-wrapper">
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#gas-station"></use>
            </svg>
            <span class="card__summary-text">80L</span>
          </div>
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#Car"></use>
            </svg>
            <span class="card__summary-text">Manual</span>
          </div>
          <div class="card__summary">
            <svg class="icon">
              <use xlink:href="./assets/images/icons.svg#profile-2user"></use>
            </svg>
            <span class="card__summary-text">6 People</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="card__price">
          <div class="card__price-cal text-base font-bold">
            $80.00/<span class="text-xs font-bold text-sec-300">day</span>
          </div>
        </div>
        <button class="btn btn--primary">Rent Now</button>
      </div>
    </div>
  </div>
  <div class="more-car">
    <button class="btn btn--primary btn--more-car">Show More Car</button>
    <a href="#" class="mor-car__counter">120 Car</a>
  </div>
</section>
